<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><i class="fa fa-file-o"></i> Mi Lista de Contactos</h2>
      <hr>
      <!-- BEGIN SEARCH INPUT -->
      <div class="input-group">
        <input type="search" (ngModelChange)="searchContacts(key.value)" #key="ngModel" ngModel name="key"
          id="searchName" class="form-control" placeholder="Search Contacts..." required>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
        </span>
      </div>




      <!-- END SEARCH INPUT -->
      <p>Mostrando Todos los Contactos</p>

      <div class="padding"></div>

      <div class="row">
        <div class="col-md-6 col-xl-3" *ngFor="let contact of contacts | paginate: {
                      itemsPerPage: 8,
                      currentPage: page,
                      totalItems: count
                    }">  

          <div class="card m-b-30">
            <div class="card-body row">
              <div class="col-6">
                <a href=""><img src="{{imagen}}" alt="" class="img-fluid rounded-circle w-60"></a>
              </div>
              <div class="col-6 card-title align-self-center mb-0">
                <h5>{{contact?.name}}</h5>
                <p class="m-0">{{contact?.description}}</p>

              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{contact?.email}}</li>
              <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{contact?.phone}}</li>
              <li class="list-group-item"><i class="far fa-user"></i>Trabajo : {{contact.work}}</li>

            </ul>
            <div>

            </div>
            <div class="card-body">
              <div class="float-right btn-group btn-group-sm">
                <a type="button"   class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"
                  [routerLink]="['/contacts/actualizar/',contact.cid]"><i class="fa fa-pencil"></i> </a>
                <a (click)="borrarContacto(contact.cid)" class="btn btn-secondary tooltips" data-placement="top"
                  data-original-title="Delete"><i class="fa fa-times"></i></a>
              </div>
              <ul class="social-links list-inline mb-0">
                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                    href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                    href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                    href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        

      </div>
      <pagination-controls class="d-flex justify-content-center"
       previousLabel="Anterior"
       nextLabel="Siguiente" 
       (pageChange)="handlePageChange($event)" 
    ></pagination-controls>

    </div>
  </div>
  <!--
<div class="content">
	<div class="container">
	  <div class="row" *ngFor="let post of posts | async">
		<div class="blogpost">
		  <h3><a href="/post/{{post.id}}" class="blog-title">{{post.title}}</a></h3>
		  <div>
			<i class="fas fa-user"></i> Author: <p>{{post.username}}</p>
		  </div>
		  <p [innerHTML]="post.content"></p>
		  <div>
			<a type="button" href="/post/{{post.id}}" class="read-more btn btn-default">Read More</a>
		  </div>
		  <hr>
		</div>
		<hr>
	  </div>
	</div>
  </div>-->